@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

$primary-red-colour: hsl(10, 79%, 65%);
$secondary-red-colour: hsl(26, 66%, 93%);
$primary-blue-colour: hsl(186, 34%, 65%);
$primary-brown-colour: hsl(25, 47%, 15%);
$secondary-brown-colour: hsl(28, 10%, 53%);
$font-body: 1.125rem;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-stack: 'DM sans';